:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.nav {
  height: 4.5rem;
  width: 100%;
  box-shadow: 0 0 0.5rem 0.25rem gray;
}
.nav > img {
  height: 70%;
  margin: 0.75rem 2rem;
}
.hero {
  width: 100%;
}
.hero > img {
  width: 70%;
  margin: 3rem 15%;
}
.hero > h1 {
  margin: 4rem;
  font-size: 4rem;
}
.hero > div {
  margin: 4rem;
  font-size: 2rem;
}
.card {
  position: relative;
  margin: 4rem;
  width: 25%;
  flex: 0 0 auto;
}
.card > img {
  border-radius: 1rem;
  width: 100%;
}
.card > span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0rem 0.25rem;
}
.card > div > img {
  width: 0.875rem;
}
.card > div > p {
  font-size: 1.1rem;
}
.faded {
  color: rgba(0, 0, 0, 0.452);
}
.bold {
  font-weight: bolder;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
